* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: lightcyan;
}

h1 {
    font-size: clamp(1.6rem, 3vw, 3rem);

}

h2 {
    font-size: clamp(1.25rem, 2.25vw, 2.2rem);

}

p {
    font-size: clamp(.8rem, 2vw, 1.12rem);

}

.interface {
    max-width: 1020px;
    margin: 0 auto;
}

.conteudo-principal {
    margin: auto;
    display: flex;
}

.caixa-flex {
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    border: solid 2px;
    padding: 1.25rem;
    background-color: bisque;
    display: flex;
    flex-direction: column;

    width: fit-content;
}

.caixa-flex h1 {
    text-align: center;
    margin: 1.25rem;
}

.caixa {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

.caixa a {
    padding: 1rem 0;
    color: orange;
}

.caixa a:hover {
    text-decoration: underline;
}

@media (max-width: 420px) {
    .caixa-flex {
        margin: 0 auto;
        margin: 1rem;
    }
}