* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.main-title {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2.25rem;
}

.header {
    background-color: #05080a;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul {
    gap: 1rem;
    display: flex;
    list-style: none;
}

.header__nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: .4rem;
}

.header__nav a:hover {
    text-decoration: underline;
}

a.header__nav--active {
    background-color: #cbe300;
    color: #0c1014;
    pointer-events: none;
}

.header__logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-left: 1rem;
    letter-spacing: 2px;

}


.pricing {
    display: flex;
    gap: 1rem;
}

.pricing-plan {
    flex: 1;
    background-color: #1f262c;
    padding: 2rem;
    border-radius: .3rem;
    box-shadow: 0 5px 12px #0000;
    display: flex;
    flex-direction: column;
}

.pricing-plan p {
    margin-top: 0;
}

.pricing-plan__price {
    font-size: 2rem;
}

.class-plan__title {
    border-bottom: 2px solid #cbe300;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

.pricing-plan__features {
    margin: 0 0 35px 0;
    color: #b5b5b5;
    padding-left: 1rem;
    line-height: 1.8;
    flex: 1;
}

.pricing-plan__features li::marker{
    color: #cbe300;
}

.pricing-plan__cta {
    text-decoration: none;
    color: #0c1014;
    background-color: #cbe300;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem .6rem;
    text-align: center;
}

.pricing-plan__cta:hover{
    outline: 2px solid #cbe300;
    background-color:transparent ;
    color: white;
}