* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {

    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    align-items: center;
}

.logo h1 {
    color: white;
}

.nav-list ul {
    display: flex;
    gap: 1.25rem;
}

.nav-link {
    font-size: 1.15rem;
    color: white;
    font-weight: non;
}

.login-button button {
    border: none;
    background-color: orange;
    color: white;

    padding: .5rem 1rem;
    border-radius: 1rem;
}

.login-button button:hover {
    cursor: pointer;
    color: black;
}

.mobile-menu-icon button {
    cursor: pointer;
    font-size: 1.25rem;
    color: white;
    background: none;
    border: none;
}

.mobile-menu-icon,
.mobile-menu {
    display: none;
}

@media screen and (max-width:730px) {

    .nav-bar {
        width: auto;
    }

    .nav-item,
    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button{
        width: 100%;
    }

    .open{
        display: block;
    }
}