* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    height: 7.2rem;

    position: sticky;
    top: 0;
    display: flex;
    background-color: rgba(0, 4, 7,0.90);
    backdrop-filter: blur(4px);
}

.container {
    width: 100%;
    max-width: 124.6rem;
    margin: 0 auto;
    padding: 0 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 4.7rem;
}

header nav a {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
}

header button {
    border-radius: 3.2rem;
    border: solid 2px #2F2F38;
    padding: .95rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
}
