* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    background-color: lightcyan;
}

.inicio {
    margin: 2rem 0;
    text-align: center;
}

.inicio h1{
    margin: 1rem 0;
}

.inicio a{
    background-color: orange;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
}

.inicio a:hover{
    color: white;
}

.interface{
    max-width: 1020px;
    margin: 0 auto;
}

.flex-card {
    border: solid 2px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.card {
    border: solid 2px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    flex-shrink: 0;
}

.card img {
    background-color: white;
    max-width: 80px;
    width: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
/* 
@media screen and(min-width:720px) {
    .flex-card {
        width: 720px;
    }
} */